@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0 auto;
}

html, body {
    background: black;
    color: white;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#header {
    height: 50vh;
    width: 100vw;
    background-color: #0090FF;
}

#image-name-container {
    position: relative;
    margin: 0 auto;
    text-align: left;
    max-width: 622px;
    padding-top: 34vh;
}

.logo-name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

#monitor {
    float: left;
    height: 112px;
}

.navbar {
    position: relative;
    top: 0;
    width: 100vw;
    color: white;
    transition: all 0.5s;
}

.fixed {
    position: fixed;
    background: black;
    transition: all 0.5s;
}

.menu {
    list-style-type: none;
    height: 5rem;
    max-width: 600px;

    text-align: center;
    transition: all 0.5s;
}

li {
    float: left;
    font-weight: 100;
}

li a{
    display: block;
    text-align: center;
    padding: 30px;
    font-size: 28px;
    text-decoration: none;
    color: white;
}


li a:hover{
    text-decoration: underline;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    color: black;
    transition: all 0.5s;
}

.fixed li.logo {
    max-width: 100px;
    transition: all 0.5s;
}

.fixed .menu {
    max-width: 670px;
}

#home {
    height: 100vh;
}

#projects, #about, #contact
{
    height: 100vh;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    color: white;
    height: 50vh;
    max-width: 98vw;
    margin: 0 auto;
    padding-top: 20vh;
}

.project {
    width: 100%;
}

.two {
    background-color: #141e40;
}

.project-heading {
    background-color: grey;
    padding-top: 10px;
    height: 32px;
}

img[src="images/me.png"] {
    padding-top: 15vh;
}

.about-me {
    width: 50vw;
    padding-top: 10vh;
    font-size: 24px;
}

.online {
    font-size: 24px;
    max-width: 50px;
    list-style-type: none;
    float: left;
}

.email {
    font-size: 24px;
    max-width: 50px;
    list-style-type: none;
}

.contact-info {
    height: 10vh;
    padding: 50px;
    width: 50vw;
    font-weight: 100;
    text-align: center;
    padding-top: 40vh;
    padding-left: 20vw;
}

.email li a, .online li a{
    font-size: 24px;
    padding: 0;
}

.email li, .online li{
    padding: 10px;
}